---
import DefaultLayout from '../../layouts/DefaultLayout.astro';
import { Breadcrumbs, BreadcrumbsItem } from 'accessible-astro-components';
import { fetchPosts } from '../../utils/fetchPosts.js';

export async function getStaticPaths() {
  const posts = await fetchPosts();

  return posts.map((post) => {
    return {
      params: { post: post.id.toLowerCase() }, // Use `id` for the URL path
      props: { post },
    };
  });
}

const { post } = Astro.props;

// Format the date consistently (e.g., "April 25, 2024")
const formattedDate = new Date(post.date).toLocaleDateString('en-US', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
});
---

<DefaultLayout title={post.title} description={post.description} url={post.id}>
  <div class="container">
    <div class="mt-12">
      <Breadcrumbs>
        <BreadcrumbsItem href="/" label="Home" />
        <BreadcrumbsItem href="/blog" label="Blog" />
        <BreadcrumbsItem currentPage={true} label={post.title} />
      </Breadcrumbs>
    </div>
  </div>

  <section class="my-12">
    <div class="container prose-slate w-sm md:w-prose md:prose poppins">
      <h1>{post.title}</h1>
      <p class="text-slate text-sm md:text-base">
        Published on {formattedDate} 
      </p>
    

    

      <!-- Render the embedded content safely using Astro's set:html directive -->
      {post.podcastEmbed && (
        <div class="embed-container" set:html={post.podcastEmbed}></div>
      )}

      <div class="text-2xl">{post.body}</div>

        <!-- Display the quote -->
        {post.quote && (
          <blockquote class="quote text-xl italic text-center my-4">
            “{post.quote}”
          </blockquote>
        )}

      <h2>Transcript</h2>
      <!-- Split the transcript by newlines (escaped or regular) to format paragraphs -->
      {post.transcript
        .split(/(?:\\n\\n|\n\n)/g) // Handle both \\n\\n and \n\n for new paragraphs
        .map((paragraph, index) => (
          <p key={index} class={paragraph.startsWith("Jenn:") ? "jenn-speaker" : "venia-speaker"}>
            {paragraph.trim()}
          </p>
        ))}

      <a href="/blog" title="Back to Blog" class="text-blue-500 hover:underline">
        &larr; Back to Blog
      </a>
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
  .embed-container {
    position: relative;
    padding-bottom: 25%; /* 3:1 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #070707;
    margin: 1em 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
  }

  .quote {
    font-style: italic;
    color: #777;
    padding: 0.5em;
    border-left: 4px solid #333;
    margin: 1em 0;
  }


</style>
